<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Платные дороги</title>
    <link rel="stylesheet" href="/css/main_page.css">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Платные дороги</h1>
        </div>
    </header>

    <div class="search-container">
        <form action="/" method="get">
            <div class="search-bar">
                <input type="text" id="fsearch" name="fsearch"  placeholder="{{.Query}}">
                <button type="submit">Искать</button>
            </div>
        </form>
    </div>

    <div class="container">
        {{range .roads}}
        <div class="card">
            <div class="card-image">
                <!-- Карточки с изображениями и названиями -->
                <img src="{{.Image}}">
                <h2><a href="/road/{{.Id}}" style="text-decoration: none; color: inherit;">{{.Name}}</a></h2>
            </div>
        </div>
        {{end}}
    </div>
</body>
</html>